<script>
var quote = "";
var author = "";

function getQuote(){
	
	var rand = Math.floor(Math.random()*1000);
	var request = "https://cors-anywhere.herokuapp.com/http://quotes.stormconsultancy.co.uk/random.json?callback=respond" + rand;	
	//var request = "https://quotes.stormconsultancy.co.uk/random.json?callback=respond" + rand;
	
	$.ajaxPrefilter(function(options) {
	  if(options.crossDomain && jQuery.support.cors) {
		var http = (window.location.protocol === 'http:' ? 'http:' : 'https:');
		options.url = "https://cors-anywhere.herokuapp.com/" + options.url;
	  }
	});
	
	$.get(request, function(response) {
		var jsonp = JSON.stringify(response);  // Convert to json
		console.log(jsonp);
		quote = '"' + jsonp.quote + '"';
		author = "--" + jsonp.author;
		$(".quote").html(quote);
		$(".author").html(author);
	});
	

}		

$(document).ready(function() {
	getQuote();
});
</script>

<div class="quote" align="center"></div>
<div class="author" align="center"></div>
