<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>	
	$.ajaxPrefilter(function(options) {
	  if(options.crossDomain && jQuery.support.cors) {
		var http = (window.location.protocol === 'http:' ? 'http:' : 'https:');
		options.url = "https://cors-anywhere.herokuapp.com/" + options.url;
	  }
	});

	$.get('https://cors-anywhere.herokuapp.com/http://dagger.ole32.com:8701/json',
		function(response) {
			var html = '<table class="table table-striped">';
		    	html += '<tr>';
		    	var flag = 0;
			$.each(data[0], function(index, value){
				html += '<th>'+index+'</th>';
			});
			html += '</tr>';
			$.each(data, function(index, value){
				html += '<tr>';
				$.each(value, function(index2, value2){
					html += '<td>'+value2+'</td>';
				});
				html += '<tr>';
			});
			html += '</table>';
			$('.table').html(html);    
		});
	});	
</script>
<div class="table" align="center"></div>
