<!--
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="pages/releaseservers.html">Release servers</a></li>
      <li><a href="pages/nightlyservers.html">Nightly servers</a></li>
      <li><a href="pages/changelog.html">Changelog</a></li>
      <li><a href="pages/collaborators.html">Collaborators</a></li>
    </ul>
  </div>
</nav>
-->

<p align="center">
    <a href="https://paypal.me/gavazquez"><img src="https://img.shields.io/badge/paypal-donate-yellow.svg" alt="PayPal"/></a>
    <a href="https://www.youtube.com/watch?v=gf6xyLnpnoM"><img src="https://img.shields.io/badge/Youtube-Video-red.svg" alt="Youtube video"/></a>
    <a href="https://discord.gg/wKVMhWQ"><img src="https://img.shields.io/discord/378456662392045571.svg" alt="Chat on discord"/></a>
    <a href="https://github.com/LunaMultiplayer/LunaMultiplayer/releases"><img src="https://img.shields.io/github/release/lunamultiplayer/lunamultiplayer.svg" alt="Latest release" /></a>
    <a href="https://github.com/LunaMultiplayer/LunaMultiplayer/releases"><img src="https://img.shields.io/github/downloads/lunamultiplayer/lunamultiplayer/total.svg" alt="Total downloads" /></a>
</p>
<p align="center">
    <a href="https://forum.kerbalspaceprogram.com/index.php?/topic/168271-131-luna-multiplayer-lmp-alpha"><img src="https://img.shields.io/badge/KSP%20Forum-Post-4265f4.svg" alt="KSP forum post"/></a>
    <a href="https://github.com/LunaMultiplayer/LunaMultiplayerUpdater"><img src="https://img.shields.io/badge/Automatic-Updater-4265f4.svg" alt="Latest build updater"/></a>
</p>
