---
---

@import "{{ site.theme }}";

//.inner {
//    width: 1240px;
//}

footer {
    padding-top: 10px;
}

//Bootstrap fix
a.button{
    width: 205px;
    height: 79px;
}

//Bootstrap fix
aside a.button{
    width: 205px;
}

//Bootstrap fix
th{
    text-align:center; 
}
